*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
.parent{
  width: 600px;
  min-width: 200px;
  margin: auto;
  height: auto;
  border-radius: 16px;
  background-color: #17141d;
  box-shadow: -1rem 0 3rem rgb(35, 148, 31);
  transition: 0.6s;
}
body{
  height: 100%;
  background-color: #111;
}
h1{
  font-size: 3rem;
  font-weight: 50;
  margin: 1rem 0 3rem;
  text-align:center;
  color: #fff; 
  
}
@-webkit-keyframes glow {
  from { 
    text-shadow:  10px 0px 10px #4cd675,0 0 5px #307006;
  }
  to {
    text-shadow:0 0px 5px #0c8f37 ,0 0 7px #a3b8a9;
  }
}
.styling{
  font-weight: 700;
  text-transform: uppercase;
  color: lime;
  font-family: 'Merriweather', serif;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
-moz-animation: glow 1s ease-in-out infinite alternate;
animation: glow 1s ease-in-out infinite alternate;
}
.input-div{
  display: flex;
  justify-content: center;
  justify-items: center;
  
}
.input-div .input{
  padding: 0.5rem 1rem;
  text-align: center;
  height: 50px;
  outline: none;
  border: none;
  background-color: #fff;
  width: 450px;
  font-size: 1.5rem;
  margin: 0.25rem;
  border-radius: 25px;
}
.addButton{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  outline: none; 
  border: none;
  background-color:lime;
  color:#fff;
  margin: 0.25rem;
  opacity: 0.8;
  cursor: pointer;
}
.addButton:hover{
  opacity: 1;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}
.item{
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 4px solid #fff;
}
.item_input{
  background:none;
  outline: none;
  color: #fff;
  border: none;
  width: 350px;
  font-size: 1.4rem;
}
.editButton{
  cursor: pointer;
  font-size: 1.5rem;
  margin:0 0.5rem;
  background-color: #fff;
  color:green;
  outline: none;
  border: none;
}

.removeButton{
  cursor: pointer;
  font-size: 1.5rem;
  margin:0 0.5rem;
  background-color: #fff;
  color:red;
  outline: none;
  border: none;
}